
.animate {
    opacity: 0;
    will-change: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
}


.animate.show {
    opacity: 1;
    transform: translate(0, 0) scale(1) !important;
}


.fade-up {
    transform: translateY(40px); 
}


.fade-left {
    transform: translateX(-50px);
}


.fade-right {
    transform: translateX(50px);
}


.zoom-in {
    transform: scale(0.9);
}




@media (max-width: 768px) {
    .fade-left, .fade-right {
       
        transform: translateX(20px); 
    }
    
   
    .fade-left, .fade-right {
        transform: translateY(20px);
    }
}

@media (max-width: 320px) {
    .animate {
        
        transition-duration: 0.4s !important; 
    }

    .fade-up, .fade-left, .fade-right, .zoom-in {
        transform: none !important;
    }
}