.skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    margin-bottom: 6rem;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 4rem;
}


.skills .heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem; 
}

.skills h1 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    text-align: center;
    margin: 0;
}

.skills h1 span {
    color: rgba(201, 74, 244, 0.953);
}


.skills hr {
    background: linear-gradient(160deg, rgba(134, 5, 178, 0.953) 40%, rgb(231, 11, 198) 60%);
    width: 70px;
    height: 4px;
    border: none;
    border-radius: 3rem;
    margin: 0; 
}


.skillsBox {
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 3vw, 3rem);
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 1rem;
}


.tech-grid {
    --grad: linear-gradient(160deg, rgba(134, 5, 178, .953) 40%, rgb(231, 11, 198) 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14rem; 
    max-width: 100%; 
    gap: 1.2rem;
    background-color: rgba(62, 51, 63, 0.229);
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
}


.tech-grid:hover, .tech-grid:active {
    box-shadow: 0 0 0.4rem 0.7rem rgb(80, 11, 73);
}


@media screen and (min-width: 701px) {
    .tech-grid:hover {
        transform: scale(1.08);
    }
}


@media screen and (max-width: 700px) {
    .tech-grid:hover, .tech-grid:active {
        transform: none !important; 
    }
}

.tech-grid h3 {
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    font-weight: 400;
    text-align: center;
    margin: 0;
}


.icon {
    width: 5.25rem;
    height: 5.25rem;
    display: grid;
    place-items: center;
    border-radius: 0.875rem;
    position: relative;
    background: var(--grad);
    background-size: 200% 200%;
    animation: gradMove 6s linear infinite;
    box-shadow: 0 0.375rem 1.125rem rgba(144, 13, 133, .35);
}

.icon svg {
    width: 2.375rem;
    height: 2.375rem;
    fill: #fff;
}


@media (max-width: 300px) {
    .skills { gap: 1.5rem; }
    .skillsBox { gap: 0.8rem; }
    
    .tech-grid {
        width: 165px;
        padding: 1rem 0.5rem;
    }
    
    .icon {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@keyframes gradMove {
    0% { background-position: 0% 50% }
    100% { background-position: 200% 50% }
}